<section class="contacts" id="contact">
  <div class="contacts__wrapper"></div>
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__column" data-aos="fade-right">
        <h3 class="contacts__title">CAFE</h3>
        <p class="contacts__town">Chicago</p>
        <p class="contacts__descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__item">
          <li class="working-days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">
              <time>06:00</time> AM - <time>10:00</time> PM
            </p>
          </li>
          <li class="working-days">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">
              <time>06:00</time> AM - <time>10:00</time> PM
            </p>
          </li>
        </ul>
        <ul class="working-adress">
          <li>
            <a class="contacts__adress" href="tel:610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__adress" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__column" data-aos="zoom-in">
        <h3 class="contacts__title contacts__title--inverse">FOODTRUCK</h3>
        <p class="contacts__town">Los Angeles</p>
        <p class="contacts__descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__item">
          <li class="working-days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">
              <time>06:00</time> AM - <time>10:00</time> PM
            </p>
          </li>
          <li class="working-days">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">
              <time>06:00</time> AM - <time>10:00</time> PM
            </p>
          </li>
        </ul>
        <ul class="working-adress">
          <li>
            <a class="contacts__adress" href="tel:610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__adress" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__column" data-aos="fade-left">
        <h3 class="contacts__title">CAFE</h3>
        <p class="contacts__town">New York</p>
        <p class="contacts__descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__item">
          <li class="working-days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">
              <time>06:00</time> AM - <time>10:00</time> PM
            </p>
          </li>
          <li class="working-days">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">
              <time>06:00</time> AM - <time>10:00</time> PM
            </p>
          </li>
        </ul>
        <ul class="working-adress">
          <li>
            <a class="contacts__adress" href="tel:610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__adress" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li
        class="contacts__location"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <button class="locations" type="button">
          <span class="contacts__button-text">Our Locations</span>
          <svg class="locations-svg" width="20" height="20">
            <use href="./images/sprite.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__franchise">
        <button
          class="franchise"
          type="button"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <span class="contacts__button-text">Franchise</span>
          <svg class="franchise-svg" width="20" height="20">
            <use href="./images/sprite.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
